In [11]:
##SQLite Database Setup

In [2]:
import sqlite3

In [3]:
# Connect to SQLite database (or create it if it doesn't exist)
conn = sqlite3.connect('company.db')
cursor = conn.cursor()

In [4]:
# Create Employees table
cursor.execute('''
CREATE TABLE IF NOT EXISTS Employees (
    ID INTEGER PRIMARY KEY,
    Name TEXT NOT NULL,
    Department TEXT NOT NULL,
    Salary INTEGER NOT NULL,
    Hire_Date TEXT NOT NULL
)
''')

In [5]:
# Create Departments table
cursor.execute('''
CREATE TABLE IF NOT EXISTS Departments (
    ID INTEGER PRIMARY KEY,
    Name TEXT NOT NULL,
    Manager TEXT NOT NULL
)
''')

In [6]:
# Insert sample data into Employees table
employees_data = [
    (1, 'Alice', 'Sales', 50000, '2021-01-15'),
    (2, 'Bob', 'Engineering', 70000, '2020-06-10'),
    (3, 'Charlie', 'Marketing', 60000, '2022-03-20')
]

cursor.executemany('INSERT OR IGNORE INTO Employees (ID, Name, Department, Salary, Hire_Date) VALUES (?, ?, ?, ?, ?)', employees_data)

In [7]:
# Insert sample data into Departments table
departments_data = [
    (1, 'Sales', 'Alice'),
    (2, 'Engineering', 'Bob'),
    (3, 'Marketing', 'Charlie')
]

cursor.executemany('INSERT OR IGNORE INTO Departments (ID, Name, Manager) VALUES (?, ?, ?)', departments_data)

In [8]:
# Commit changes and close the connection
conn.commit()
conn.close()

print("Database setup complete!")

Database setup complete!

In [ ]:
##Build the Chat Assistant

In [22]:
# Define a Function to Execute Queries
def execute_query(query, params=()):
    conn = sqlite3.connect('company.db')
    cursor = conn.cursor()
    cursor.execute(query, params)
    result = cursor.fetchall()
    conn.close()
    return result

In [23]:
# Define a Function to Handle User Queries
def chat_assistant(query):
    if "show me all employees in the" in query.lower():
        department = query.lower().split("department")[0].split("in the")[1].strip()
        result = execute_query("SELECT Name FROM Employees WHERE Department = ?", (department,))
        if result:
            return [row[0] for row in result]
        else:
            return "No employees found in this department."
    
    elif "who is the manager of the" in query.lower():
        department = query.lower().split("department")[0].split("of the")[1].strip()
        result = execute_query("SELECT Manager FROM Departments WHERE Name = ?", (department,))
        if result:
            return result[0][0]
        else:
            return "Department not found."
    
    elif "list all employees hired after" in query.lower():
        date = query.lower().split("after")[1].strip()
        result = execute_query("SELECT Name FROM Employees WHERE Hire_Date > ?", (date,))
        if result:
            return [row[0] for row in result]
        else:
            return "No employees hired after this date."
    
    elif "what is the total salary expense for the" in query.lower():
        department = query.lower().split("department")[0].split("for the")[1].strip()
        result = execute_query("SELECT SUM(Salary) FROM Employees WHERE Department = ?", (department,))
        if result:
            return result[0][0]
        else:
            return "Department not found."
    
    else:
        return "Sorry, I don't understand that query."

In [24]:
# Test the Chat Assistant
print(chat_assistant("Show me all employees in the Sales department."))
print(chat_assistant("Who is the manager of the Engineering department?"))
print(chat_assistant("List all employees hired after 2021-01-01."))
print(chat_assistant("What is the total salary expense for the Marketing department?"))

No employees found in this department.
Department not found.
['Alice', 'Charlie']
None

In [25]:
# Improve Error Handling
def chat_assistant(query):
    try:
        if "show me all employees in the" in query.lower():
            department = query.lower().split("department")[0].split("in the")[1].strip()
            result = execute_query("SELECT Name FROM Employees WHERE Department = ?", (department,))
            if result:
                return [row[0] for row in result]
            else:
                return "No employees found in this department."
        
        elif "who is the manager of the" in query.lower():
            department = query.lower().split("department")[0].split("of the")[1].strip()
            result = execute_query("SELECT Manager FROM Departments WHERE Name = ?", (department,))
            if result:
                return result[0][0]
            else:
                return "Department not found."
        
        elif "list all employees hired after" in query.lower():
            date = query.lower().split("after")[1].strip()
            result = execute_query("SELECT Name FROM Employees WHERE Hire_Date > ?", (date,))
            if result:
                return [row[0] for row in result]
            else:
                return "No employees hired after this date."
        
        elif "what is the total salary expense for the" in query.lower():
            department = query.lower().split("department")[0].split("for the")[1].strip()
            result = execute_query("SELECT SUM(Salary) FROM Employees WHERE Department = ?", (department,))
            if result:
                return result[0][0]
            else:
                return "Department not found."
        
        else:
            return "Sorry, I don't understand that query."
    except Exception as e:
        return f"An error occurred: {str(e)}"

In [26]:
# Test Error Handling
print(chat_assistant("Show me all employees in the HR department."))
print(chat_assistant("Who is the manager of the Finance department?"))
print(chat_assistant("List all employees hired after 2023-01-01."))

No employees found in this department.
Department not found.
No employees hired after this date.